<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloPoly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C77E70ED1C4C64BF0066F74D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C77E71061C4C64C00066F74D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C77E71111C4C64C00066F74D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
